In [1]:
from pyspark.sql import SparkSession

# SparkSession is the entry point and connects your PySpark code to the Spark cluster.
# By default, all the configured nodes used for the execution of your code are in a 
# cluster mode setting.

In [29]:
spark = SparkSession.builder.appName("IntroToDataWrangling").getOrCreate()

In [30]:
movies_location = "/home/datamaking/Documents/Hadoop/ml-latest/movies.csv"

movies = spark.read.format("csv").option("inferSchema", False).option("header", True)\
    .option("sep", ",").load(movies_location)

In [31]:
# Alternative way to load the data
# I prefer this way since it is consise and clear

ratings_location = "/home/datamaking/Documents/Hadoop/ml-latest/ratings.csv"

ratings = spark.read.csv(path=ratings_location,
                   sep=",",
                   header=True,
                   quote='"',
                   inferSchema=True,)

In [34]:
movies.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [33]:
movies.count() #number of records

58098

In [35]:
movies.columns

['movieId', 'title', 'genres']

In [16]:
df.show(20, truncate=False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows

In [36]:
ratings.show(20, truncate=False)

+------+-------+------+----------+
|userId|movieId|rating|timestamp |
+------+-------+------+----------+
|1     |307    |3.5   |1256677221|
|1     |481    |3.5   |1256677456|
|1     |1091   |1.5   |1256677471|
|1     |1257   |4.5   |1256677460|
|1     |1449   |4.5   |1256677264|
|1     |1590   |2.5   |1256677236|
|1     |1591   |1.5   |1256677475|
|1     |2134   |4.5   |1256677464|
|1     |2478   |4.0   |1256677239|
|1     |2840   |3.0   |1256677500|
|1     |2986   |2.5   |1256677496|
|1     |3020   |4.0   |1256677260|
|1     |3424   |4.5   |1256677444|
|1     |3698   |3.5   |1256677243|
|1     |3826   |2.0   |1256677210|
|1     |3893   |3.5   |1256677486|
|2     |170    |3.5   |1192913581|
|2     |849    |3.5   |1192913537|
|2     |1186   |3.5   |1192913611|
|2     |1235   |3.0   |1192913585|
+------+-------+------+----------+
only showing top 20 rows